# Created by .ignore support plugin (hsz.mobi)
node_modules
npm-debug.log
package-lock.json
# Exclude compiled files
build

# Exclude IDE project folders
.happypack
.idea
.vscode
.project
*.sublime-project
*.sublime-workspace
debug.js
# OS files
.DS_STORE
